<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ele.project.common.dao.LoginDao">
	<resultMap id="BaseResultMap" type="com.ele.project.sysmanager.user.pojo.UserDTO">
		<!-- <id column="guid" property="guid" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="roleId" property="roleId" jdbcType="VARCHAR" /> -->
	</resultMap>
	<select id="selectUser" resultMap="com.ele.project.sysmanager.user.pojo.UserDTO" parameterType="com.ele.project.sysmanager.user.pojo.UserDTO">
		select * from ele_s_user where username = #{username} and user_pwd=#{user_pwd}
	</select>
	
	<select id="getUserDTOByName" resultMap="com.ele.project.sysmanager.user.pojo.UserDTO">
		select * from ele_s_user where username = #{username}
	</select>
	<!-- 
	<select id="selectMenuState" resultType="java.lang.String" parameterType="com.newhero.urbanconstruction.sysmanager.user.pojo.UserDTO">
		select menuState from sys_role where id = #{roleId} 
	</select> -->
	
</mapper>