<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ele.project.sysmanager.userRole.dao.UserToRoleDao">
	
	<select id="getRoleById" resultType="Map" parameterType="java.lang.String">
		select a.*,b.name from ele_s_userrole a 
		left join ele_s_role b on a.role_id=b.role_id
		 where a.userid=#{userid} 
	</select>
	<insert id="addUserToRole" parameterType="com.ele.project.sysmanager.userRole.pojo.UserToRoleDTO">
		insert into ele_s_userrole(
		ur_id,
		userid,
		role_id
		)values(
		#{ur_id},
		#{userid},
		#{role_id}
		)
	</insert>
	<select id="selectUserToRole" parameterType="java.lang.String" resultType="Map">
		select * from ele_s_userrole where userid=#{userid}
	</select>
	<delete id="deleteUserToRole" parameterType="java.lang.String">
	delete from ele_s_userrole where userid=#{userid}
	</delete>
	
</mapper>